@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(../../fonts/mem5YaGs126MiZpBA-UN8rsOUuhp.woff2) format('woff');
}
